/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';

/* END: Imports */


/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .container{ width: 100% !important; } /* BS Override */
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1170px) {
  .container{ width: 80% !important; } /* BS Override */
}

/* Small Screens */
@media screen and (max-width:768px){

  .dis-table-cell{
    @include full;
  }

  h1{ font-size: 30px !important; }

  .nav-menu{ display: none; }
  .mobile-dropdown{ display: block !important; }

  .hp-banner-container{
    height: 275px !important;
    margin-bottom: 0px !important;
    width: 100%;
    background: url(img/banner-space-with-ship.png) 90% 0% no-repeat !important;

    h1{
      font-size: 39px !important;
      letter-spacing: 0px;
      padding-top: 70px !important;
      text-align: center;
    }
  }

  .mission-container{
    margin-top: 0 !important;

    .mission-text{
      font-size: 18px;
    }
  }

  .mc{
    padding-left:  30px !important;
    padding-right: 30px !important;
  }

  .navbar-header{ background: $dblue; }
  .icon-bar{
    background: $white;
    border-radius: 0 !important;
    height: 3px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 30px !important;
  }

  .item {
    height: 225px !important;
  }

  .featured-img-container{
    position: relative;
    box-shadow: 5px 0px 30px black;
    border: 5px solid $white;
    border-style: inset;

    .featured-title-container{
      position: relative !important;
      bottom: auto !important;
      left: auto !important;

      h1{ font-size: 30px; }
      h3{ font-size: 18px; }

      h1 a{
        color: $green !important;
      }
    }

    a img{
      width: 100%;
      height: auto;
    }
  }


  .footer-container{ text-align: center; nav{ text-align: center !important; }}

}

/* Devices */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1025px) {
  .container{ width: 100% !important; } /* BS Override */
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1170px) {
  .container{ width: 70% !important; } /* BS Override */
}
@media (max-device-width:768px){
    .nav-menu{ display: none; }
    .mobile-dropdown{ display: block !important; }

    .hp-banner-container{
      height: 275px !important;
      margin-bottom: 0px !important;
      width: 100%;
      background: url(img/banner-space-with-ship.png) 90% 0% no-repeat !important;

      h1{
        font-size: 39px !important;
        letter-spacing: 0px;
        padding-top: 70px !important;
        text-align: center;
      }
    }

    .mc{
      padding-left:  30px !important;
      padding-right: 30px !important;
    }

    .navbar-header{ background: $dblue; }
    .icon-bar{
      background: $white;
      border-radius: 0 !important;
      height: 3px !important;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      width: 30px !important;
    }

    .item {
      height: 225px !important;
    }

    .featured-img-container{
      position: relative;
      box-shadow: 5px 0px 30px black;
      border: 5px solid $white;
      border-style: inset;

      .featured-title-container{
        position: relative !important;
        bottom: auto !important;
        left: auto !important;

        h1{ font-size: 30px; }
        h3{ font-size: 18px; }

        h1 a{
          color: $green !important;
        }
      }

      a img{
        width: 100%;
        height: auto;
      }
    }

}
